name: Continuous Integration and Deployment with Podman

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Podman (Official)
      run: |
        sudo apt-get update
        sudo apt-get install -y podman
  
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Create and activate virtual environment
      run: |
        python3 -m venv venv --without-pip
        source venv/bin/activate

    - name: Build and run with Podman Compose
      run: |
        podman build --arch amd64 -f ./Dockerfile -t orda_v10_backend ./
        podman tag localhost/orda_v10_backend:latest ${{ secrets.DOCKER_USERNAME }}/orda_v10_backend:${{ secrets.DEVELOPMENT }}
        echo ${{ secrets.ORDA_TOKEN }} | podman login docker.io --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
        podman tag localhost/orda_v10_backend:latest ${{ secrets.DOCKER_USERNAME }}/orda_v10_backend:${{ secrets.DEVELOPMENT }}
        
        
    - name: Run tests (optional)
      run: |
        echo "Run tests here"

    - name: Deploy (if needed)
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        # Add deployment commands here if necessary
        echo "Deploying......"
        podman push ${{ secrets.DOCKER_USERNAME }}/orda_v10_backend:${{ secrets.DEVELOPMENT }}

